.ant-drawer-right .ant-drawer-content-wrapper {
  width: 820px !important;
  padding: 15px;
  background: #1a3368;
}

.ant-drawer-header {
  display: flex;
  flex: 0 1;
  align-items: center;
  padding: 16px 24px;
  font-size: 16px;
  background-color: #1a3368;
  line-height: 22px;
  border-bottom: 1px solid #1a3368;
}
.ant-drawer-title {
    flex: 1 1;
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 36px;
    line-height: 22px;
}

.ant-drawer-body {
    flex: 1 1;
    min-width: 0;
    min-height: 0;
    padding: 24px;
    overflow: auto;
    background-color: #1a3368;
}